/* You can add global styles to this file, and also import other style files */
#button-style {
    background-color: #edc615;
    color: black;
    border-radius:2px;
    font-family: 'Lato';
    border: none;
    box-shadow: 1px 1px 5px black;
    text-align: center;
}

.font-lato{
    font-family: 'Lato', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
