<!-- <div class="mb-3">
    <input type="text" class="form-control" placeholder="search product"  [(ngModel)]="searchParam">
</div>
<button class="btn btn-primary" (click)="searchProduct()">Search</button>
<select class="form-select" [(ngModel)]="searchType">
    <option selected value="name">Search By:</option>
    <option value="tag">Tag</option>
    <option value="description">Description</option>
    <option value="name">name</option>
  </select> -->

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search product" name="search" [(ngModel)]="searchParam">
    <button class="btn btn-primary" (click)="filteredProducts()">Search</button>

    <select class="form-select" [(ngModel)]="searchType">
        <option selected value="name">Search By:</option>
        <option value="tag">Tag</option>
        <option value="description">Description</option>
        <option value="name">name</option>
      </select>
</div>