.shrooster-nav {
    background-color: #ce2d35;
}

.list-counter {
    background-color: white;
    color: #f58822;
    margin-top: 7px;
}

.shop-title{
    font-family: 'Poppins', sans-serif;
}


#nav-button-style {
    background-color: white;
    border-radius:2px;
    font-family: 'Poppins';
    border: none;
    box-shadow: 1px 1px 1px black;
    text-align: center;
}

.nav-end {
    margin-bottom: 40px;
}
