<div><h5>Your Previous Orders</h5></div>
<table *ngIf ="!CheckingOrder">
    <thead>

        <tr>
            <th>Cost</th>
            <th>Date</th>


        </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let PreviousOrder of PreviousOrderList">
            <td>{{PreviousOrder.total | currency: 'USD'}}</td>
            <td>{{PreviousOrder.datePlaced?(PreviousOrder.datePlaced | date: 'MMMM,d,y,h:mm a'):"-"}}</td>
            <td><button id="button-style" (click)="checkOrder(PreviousOrder.transactionId)">Check Order</button></td>

        </tr>
    </tbody>
</table>
<table *ngIf="CheckingOrder"><button id="button-style" (click)="GoBack()">Go Back</button></table>
<table *ngIf="CheckingOrder">
    <thead>
       
        <tr>
            
            <th>Quantity</th>
            <th>Price</th>
            <th>Name</th>
            <th>Description</th>
 

        </tr>
    </thead>
    <tbody>
  
        <tr *ngFor="let OrderItems of ProductList">
            <td>{{OrderItems.quantity}}</td>
            <td>{{OrderItems.productId.prodPrice| currency: 'USD'}}</td>
            <td>{{OrderItems.productId.prodName}}</td>
            <td>{{OrderItems.productId.prodDesc}}</td>
            
            

        </tr>
       
    </tbody>
</table>
